<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Desarrollo aplicaciones y sitios web</h1>
                <p>Constantemente me encuentro aprendiendo nuevas tecnologías y desarrollando aplicaciones por placer</p>
            </div>
            <div class="right padded">
                <h1>Me interesa mucho la parte de backend y bases de datos</h1>
                <p>Si tienes alguna propuesta o quieres debatir algo sobre el mundo de la programación puedes enviarme un correo pinchando <a class="orange" href="#contacto">en este enlace</a></p>
            </div>
        </div>
    </div>
</div>