<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>Estos son algunos proyectos en los que he estado trabajando</h1>
            <div class="row">
                <div class="card third">
                    <h3>Mailer app</h3>
                    <p>Aplicación para enviar correos utilizando la API de Sendgrid</p>
                    <a class="orange" target="_blank" href="#">Link aquí</a>
                </div>
                <div class="card third">
                    <h3>Gestor de clientes</h3>
                    <p>Una aplicación para gestionar mis clientes</p>
                    <a class="orange" href="{{ url_for('static', filename='libreta-clientes.exe') }}">Link aquí</a>
                </div>
                <div class="card third">
                    <h3>Gestor de tareas</h3>
                    <p>Aplicación para gestión de mis tareas</p>
                    <a class="orange" href="{{ url_for('static', filename='db.exe') }}">Link aquí</a>
                </div>
            </div>
        </div>
    </div>
</div>